:root {
    --color-1: #f0faff;
    --color-2-light: #e0f3ff;
    --color-3: #bae6fd;
    --color-4: #7dd3fc;
    --color-5: #38bdf8;
    --color-6: #0ea5e9;
    --color-7: #0284c7;
    --color-8: #0369a1;
    --color-9-light: #075985;
    --color-10: #0c4a6e;
    --color-11: #0a3b52;
    --color-12: #002b3e;
}
